<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="glamour.mafatlal.com.glamour">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".acSplash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".acLogin"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack" />
        <activity
            android:name=".acRegistration"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="751fa4790f2065ef93f5dda03fb0d753cc38af42" />

        <activity
            android:name=".acHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack" />
        <activity
            android:name=".acProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack" />
        <activity
            android:name=".acViewProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack" />
        <activity
            android:name=".acSubCategory"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack" />
        <activity
            android:name=".acProductList"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack" />
        <activity
            android:name=".acRefine"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack" />
        <activity
            android:name=".acProductDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack" />
        <activity
            android:name=".acBasket"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack" />
        <activity
            android:name=".acOrder"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack"></activity>
    </application>

</manifest>